*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffeceb;
    --body-color: #ddfff7;
    --secondary-color: #93E1d8;
    --tertiary-color: #ffa69e;
    --font-color: #7e8281;
    --font-color-dark: #565a59;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    
    color: var(--font-color-dark);
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* calculator body */
.calculator-body{
    height: 640px;
    width: 380px;
    background-color: var(--body-color);
    border-radius: 80px;

    /* box-shadow shorthand: horizontal offset, vertical offset, spread, color */
    /* NOTE: just use comma for multi box-shadows */
    box-shadow: inset 0 3px 40px -20px,
                    0 3px 15px -20px;

    padding: 2em 1.75em;

}
/* calc screen */
.calculator-screen{
    height: 135px;
    width: 320px;
    /* background-color: var(--secondary-color); */

    /* testing bg color */
    
    background-color: var(--font-color);
    color: var(--body-color);
    border-radius: 40px;

    box-shadow: inset 0 3px 40px -15px rgba(0,0,0,0.5);
    
}
/* upper part of calc screen */
.screen-calculations{
    height: 60px;
    width: inherit;
    border-radius: 40px 40px 0 0;
    /* background-color: green; */
    
    padding: 20px;
    padding-right: 50px;
    text-align: right;
    font-size: 1.5em;
}
/* lower part of calc screen  */
.screen-output{
    height: 75px;
    width: inherit;
    border-radius: 0 0 40px 40px;
    /* background-color: aquamarine; */
    /* background-color:  var(--secondary-color); */
    padding: 20px;
    padding-right: 50px;

    text-align: right;
    font-size: 2em;
}

/* button container */
.calculator-buttons{
    margin-top: 1.5em;
    display: flex;
    gap: 1.25em;
    flex-wrap: wrap;
}

/* button styling */
button{
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 20px;
    background-color: var(--secondary-color);

    box-shadow: inset 0 1px 5px;
    font-size: 1.25em;
    font-weight: 800;

    color: #7e8281;
}

.press, button:hover{
    background-color: var(--tertiary-color);
    color: var(--font-color-dark);
    transition: ease-out 0.25s;
}
.big-btn{
    width: 145px;
    background-color: var(--tertiary-color); 
}